/*ADDED FONTS*/
/*ADDED FONTS*/


@font-face{
  font-family:"Libre Franklin";
  src: url("/files/Fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf") 
  format('truetype');
  font-weight: 125 950;
  font-style: normal;
  font-style: italic;
}


/* @font-face {
  font-family: 'Libre Franklin', sans-serif;
  font-face:"Libre Franklin Regular"; 
  src: url('/files/fonts/Libre_Franklin/LibreFranklin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
  
  @font-face {
    font-family: 'Libre Franklin', sans-serif;
  font-face:"Libre Franklin Bold";
  src: url('/files/fonts/Libre_Franklin/LibreFranklin-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  } */


  @font-face{
    font-family:"Libre Baskerville";
    src: url('/files/Fonts/librebaskerville-regular-webfont.woff2') 
    format('woff2'),
    url("/files/Fonts/librebaskerville-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face{
    font-family:"Libre Baskerville";
    src: url('/files/Fonts/librebaskerville-italic-webfont.woff') 
    format('woff2'),
    url("/files/Fonts/librebaskerville-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face{
    font-family:"Libre Baskerville";
    src: url('/files/Fonts/librebaskerville-bold-webfont.woff2') 
    format('woff2'),
    url("/files/Fonts/librebaskerville-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-thin-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-thin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-thinitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/poppins-thinitalic-webfont.woff') format("woff");
    font-weight: 100;
    font-style: italic;
  }

  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-extralight-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-extralight-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-extralightitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/poppins-extralightitalic-webfont.woff') format("woff");
    font-weight: 200;
    font-style: italic;
  }

  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-light-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-lightitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/poppins-lightitalic-webfont.woff') format("woff");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-italic-webfont.woff') format("woff2"),
    url('/files/Fonts/poppins-italic-webfont.woff') format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-mediumitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/poppins-mediumitalic-webfont.woff') format("woff");
    font-weight: 500;
    font-style: italic;
  }

  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-semibolditalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/poppins-semibolditalic-webfont.woff') format("woff");
    font-weight: 600;
    font-style: italic;
  }

  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-bolditalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/poppins-bolditalic-webfont.woff') format("woff");
    font-weight: 700;
    font-style: italic;
  }

  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-extrabold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-extrabolditalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/poppins-extrabolditalic-webfont.woff') format("woff");
    font-weight: 800;
    font-style: italic;
  }

  @font-face{
    font-family:"Poppins";
    src: url("/files/Fonts/poppins-black-webfont.woff2") format("woff2"),
    url("/files/Fonts/poppins-black-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }

  @font-face{
    font-family:"Poppins";
    src: url('/files/Fonts/poppins-blackitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/poppins-blackitalic-webfont.woff') format("woff");
    font-weight: 900;
    font-style: italic;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-thin-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-thin-webfont.woff') format("woff");
    font-weight: 100;
    font-style: normal;
  }


  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-thinitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-thinkitalic-webfont.woff') format("woff");
    font-weight: 100;
    font-style: italic;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-extralight-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-extralight-webfont.woff') format("woff");
    font-weight: 200;
    font-style: normal;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-extralightitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-extralightitalic-webfont.woff') format("woff");
    font-weight: 200;
    font-style: italic;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-light-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-light-webfont.woff') format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-lightitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-lightitalic-webfont.woff') format("woff");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-regular-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-regular-webfont.woff') format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-italic-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-italic-webfont.woff') format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-medium-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-medium-webfont.woff') format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-mediumitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-mediumitalic-webfont.woff') format("woff");
    font-weight: 500;
    font-style: italic;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-semibold-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-semibold-webfont.woff') format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-semibolditalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-semibolditalic-webfont.woff') format("woff");
    font-weight: 600;
    font-style: italic;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-bold-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-bold-webfont.woff') format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face{
    font-family: "IBM Plex Sans";
    src: url('/files/Fonts/ibmplexsans-bolditalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/ibmplexsans-bolditalic-webfont.woff') format("woff");
    font-weight: 700;
    font-style: italic;
  }


  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-thin-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-thin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }

  @font-face{
    font-family:"Prompt";
    src: url('/files/Fonts/prompt-thinitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/prompt-thinitalic-webfont.woff') format("woff");
    font-weight: 100;
    font-style: italic;
  }

  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-extralight-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-extralight-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  @font-face{
    font-family:"Prompt";
    src: url('/files/Fonts/prompt-extralightitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/prompt-extralightitalic-webfont.woff') format("woff");
    font-weight: 200;
    font-style: italic;
  }

  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-light-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face{
    font-family:"Prompt";
    src: url('/files/Fonts/prompt-lightitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/prompt-lightitalic-webfont.woff') format("woff");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-regular-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face{
    font-family:"Prompt";
    src: url('/files/Fonts/prompt-italic-webfont.woff') format("woff2"),
    url('/files/Fonts/prompt-italic-webfont.woff') format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-medium-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face{
    font-family:"Prompt";
    src: url('/files/Fonts/prompt-mediumitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/prompt-mediumitalic-webfont.woff') format("woff");
    font-weight: 500;
    font-style: italic;
  }

  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-semibold-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face{
    font-family:"Prompt";
    src: url('/files/Fonts/prompt-semibolditalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/prompt-semibolditalic-webfont.woff') format("woff");
    font-weight: 600;
    font-style: italic;
  }

  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-bold-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face{
    font-family:"Prompt";
    src: url('/files/Fonts/prompt-bolditalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/prompt-bolditalic-webfont.woff') format("woff");
    font-weight: 700;
    font-style: italic;
  }

  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-extrabold-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-extrabold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  @font-face{
    font-family:"Prompt";
    src: url('/files/Fonts/prompt-extrabolditalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/prompt-extrabolditalic-webfont.woff') format("woff");
    font-weight: 800;
    font-style: italic;
  }

  @font-face{
    font-family:"Prompt";
    src: url("/files/Fonts/prompt-black-webfont.woff2") format("woff2"),
    url("/files/Fonts/prompt-black-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }

  @font-face{
    font-family:"prompt";
    src: url('/files/Fonts/prompt-blackitalic-webfont.woff2') format("woff2"),
    url('/files/Fonts/prompt-blackitalic-webfont.woff') format("woff");
    font-weight: 900;
    font-style: italic;
  }




/*UNIVERSALS*/
/*UNIVERSALS*/
* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

}

/*FONT*/
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  line-height: 1.7;
  list-style: none;
  background-color: #ffffff;
  max-width: 100vw;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}


#home{
background-color: #FFF9CB;
}


#pinnacle_case {
  background-color: #FFF;
}


#about-me {
  width: 100vw;
  background-color: #FFF9CB;
}


.no-scroll {
  overflow-y: hidden;
  position: fixed;
}

/*IMG SIZE*/
/*IMG SIZE*/
/* img {
  max-width: 100vw;

} */



/*HEADINGS*/
/*HEADINGS*/
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 4.65rem;
  font-weight: 700;
  color: black;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2.6rem;
  font-weight: 400;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
  line-height: 1.8;
}

a {
  font-size: 1.8rem;
}



/*INDEX LINKS*/
/*INDEX LINKS*/
body a {
  color: #212529;
  text-decoration: none;
  /* No underlining */
}

body a:visited {
  /* visited link */
  color: #212529;
}

body a:hover {
  color: #212529;
  text-decoration: underline;
}


body a:active {
  /* selected link */
  color: #8a002e;
}



/* HEADER */
/* HEADER */
.header {
  overflow-x: hidden;
  overflow-y: hidden;
  /* position: relative; */
}

.upper-bar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem 0rem 2.5rem;
  overflow-x: hidden;
}

.header-logo {
  height: fit-content;
}

.logo {
  width: 15vw;
  margin: 0;
  padding: .5rem 0 0 0;
}



/*DESKTOP NAVIGATION*/
/*IN MEDIA QUERIES*/

/*MOBILE NAVIGATION*/
/*MOBILE NAVIGATION-CLOSED*/
.btn-mobile-nav {
  border: none;

  position: fixed;
  right: 2.8rem;
  top: 3.1rem;
  background: none;
  cursor: pointer;
  display: block;
  z-index: 999;
}

.icon-mobile-nav {
  width: 3.2rem;
  height: 3.2rem;
  stroke: #212529;
  border: solid #2e2e2e .32rem;
  border-radius: .8rem;
  padding: .5rem;

}




#close-outline {
  display: none;
  border: none;
  width: 4.5rem;
  height: 4.5rem;
}

#menu-outline {
  margin-top: .45rem;
  margin-right: .4rem;
  width: 3.5rem;
  height: 3.5rem;

}

/*MOBILE NAVIGATION-OPEN*/
.mobile-nav {
  background-color: #ffffff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  /* Slides from the right with TRANSFORM */
  transform: translate(100%, 0%);
  pointer-events: none;
  visibility: hidden;
  transition: 500ms;
  z-index: 100;
}


.nav-open .mobile-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translate(0%, 0%);
  width: 100vw;
  height: 100vh;
}

.nav-open .mobile-nav .header-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 0;
}


.header-nav-item a,
.header-nav-item a:visited {
  font-size: 2.8rem;
  color: #000000;
  font-weight: 500;
}

.header-nav-item a:hover {
  color: #636363;
  font-size: 2.8rem;
  text-decoration: underline;
}


.nav-open #close-outline {
  display: block;
  position: relative;


}

.nav-open #menu-outline {
  display: none;
}




/* HERO SECTION */
/* HERO SECTION */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  gap: 4rem;
  max-width: 80vw;
  align-items: center;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;

}

.hero-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* HERO HEADING */
/* HERO HEADING */
.hero-text {
  text-align: center;
  font-family: "century schoolbook", serif;
  font-style: italic;
  margin: 0;
}

.hero-text-desktop{
  display: none;
}
.hero-text h1 {
  font-size: 3.6rem;
  margin: 1rem auto;
  font-weight: 700;
  color: #F72C25;  
}

.hero-text h2{
  font-size: 3rem;
  margin: 1rem auto;
  font-weight: 700;
  color: #F72C25; 
}

.hero-text-right h6{
  font-size: 1.6rem;
  margin-bottom: 0;
  color: #2D1E2F;
}

.hero-text-right p{
  font-size: 1.8rem;
}

.work-title{
  display: none;
}

h2.work-title-mobile{
  font-family: "Libre Baskerville", serif;
  font-size: 3.2rem;
  color: #2D1E2F;
  font-weight: 700;
  text-align: center;

}

.design-quote{
  display: none;
}

/* HERO IMAGE */
/* HERO IMAGE */

img.hero_pic_desktop{
  display: none;
}

img.hero_pic_mobile{
  max-width: 65vw;
  transform: translate(0% 0%);  
  margin: .1rem auto;
}

.scroll img {
  width: 15rem;
}


.down-arrow{
  transition: 500ms;
}

/*WORK SECTION*/
/*WORK SECTION*/
.work {
  display: flex;
  flex-direction: column;
  max-width: 85vw;
  margin: 0 auto 4rem auto;
  gap: 3vh;
  padding-left: 2rem;
  padding-right: 2rem;


}



/*WORK TITLE*/
h2.work-title  {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  font-family: "prompt", sans-serif;
  color: #343434e8;
  margin-bottom: 0;
  margin-bottom: 2.4rem;
  /* grid-row: 1 / 2; */

}

.my-work .work h4 {
  /* grid-row: 1 / 2; */
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-family: "prompt", sans-serif;
  color: #3d3d3de8;
  margin-bottom: 0;
}


.work-title {
  margin-bottom: 5vh;

}

/*WORK CARD*/
/*WORK CARD*/
.wl-item1,
.wl-item2,
.wl-item3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  background-color: #ffffff;
  box-shadow: 0px .3rem .5rem rgba(0, 0, 0, 0.310);
  border-radius: 3rem;
  justify-content: space-between;
  flex: 1 1 auto;
}



/*WORK-CARD-TXT*/
.wl-item1 h3,
.wl-item2 h3,
.wl-item3 h3 {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin: 0 0;
}

.wl-item1 p,
.wl-item2 p,
.wl-item3 p {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: normal;
  font-weight: 300;
}

.wl-item1 h6,
.wl-item2 h6,
.wl-item3 h6 {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 0;
  letter-spacing: 0.2rem;
  margin-top: 0.7rem;
}

.wli-text .tags b {
  padding: 0 1rem;
  font-weight: 500;
}




/*WORK-CARD-IMG*/
.wl-item1 img,
.wl-item2 img,
.wl-item3 img {
  border-radius: 2rem 2rem 0 0;
  align-self: normal;
  flex: 1 1 auto;
  max-width: 90vw;
}

.wli-text {
  font-family: "prompt", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
  height: auto;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
  margin-right: 1rem;
  flex: 0 1 auto;
}





/*WORK CARD  BUTTON*/
/*WORK CARD  BUTTON*/
.btn,
.btn-ac,
.btn-por-case {
  font-family: "Prompt", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  padding: .6rem 1rem;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 409ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  cursor: pointer;
  min-width: 65%;
  justify-content: center;
  align-self: center;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin: 1rem auto;
  width: 100%;
}

.btn{
  background-color: #5170be;
  border: solid 0.3rem #5170be;
}

.btn-ac {
  color: #fff;
  background-color: #DA7733;
  border: solid 0.3rem #DA7733;
}

.btn-por-case{
  color: #fff;
  background-color: #397A96;
  border: solid 0.3rem #397A96;
}


.btn:visited,
.btn-ac:visited,
.btn-por-case:visited {
  color: #fff;
  text-decoration: none;
}

.btn:hover,
.btn-ac:hover,
.btn-por-case:hover {
  transition: 409ms;
  padding: .6rem 1rem;
  text-align: center;
  transform: translateY(-0px);
  background-color: #fff;
  align-self: center;
  text-decoration: none;

}


.btn:hover{
  color: #004f9e;
  border: solid 0.3rem #0066cc;
}

.btn-ac:hover {
  color: #DA7733;
  border: solid 0.3rem #DA7733;
}

.btn-por-case:hover{
  color: #64b9b7;
  border: solid 0.3rem #64b9b7;
}



/* PINNACLE PAY CASE STUDY */
/* PINNACLE PAY CASE STUDY */

/*DIVIDING LINES*/
.short {
  margin: 3rem auto;
  width: 50vw;
  color: #A6A6A6;
}


#pp-header{
  background: linear-gradient(336deg, #FFF -31.26%, #84BDFF 2.13%, #2A86AD 94.69%);
}

.pp-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.mockup{
  margin: auto auto;
}
.mockup img {
  width: 100%;
}

#pinnacle_case .read-more{
  color: #FFF;
  font-family: "Popping",sans-serif;
}

#pinnacle_case .read-more h3{
  font-weight: 500;
  text-shadow: -.1rem .1rem .3rem rgb(60, 60, 60);
}


.pp-text{
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  align-items: flex-start;
  justify-content: center;
  text-shadow: .01rem .05rem .2rem rgb(0, 0, 0);
  
}

.pp-title{
  color: #fff;
  text-align: left;
  text-shadow: -.2rem .3rem .4rem rgb(0, 0, 0);
}


.pp-secondary-title{
  color: #fff;
}


#pinnacle_case .read-more{
  color: #FFF;
  font-family: "Popping",sans-serif;
}

#pinnacle_case .read-more h3{
  font-weight: 500;
  text-shadow: -.1rem .1rem .3rem rgb(60, 60, 60);
}


.intro h1,
.design h1,
.learnings h1,
.pp-hero h1 {
  font-family: "poppins", sans-serif;
  font-size: 2.4rem;
}

.intro h2,
.design h2,
.learnings h2,
.pp-hero h2 {
  font-size: 1.6rem;
  margin: 2rem auto;
}


.divider {
  background-color: #9ECBFF;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  padding: 3%;
  font-weight: bolder;

}

#first_title{
  margin-top: 10vh;
}

.case-study,
.intro,
.design,
.learnings {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: auto auto;
  align-items: center;
  justify-content: center;

}


.design-evo {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: auto auto;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.intro p,
.design p,
.intro li,
.design li {
  font-size: 2rem;
  width: 100%;

}

.intro img,
.design img,
.learnings img {
  max-width: 100%;
}

.intro .divide-line hr,
.design .divide-line hr,
.learnings .divide-line hr {
  width: 20vw;
}


.problem-state h2,
.problem-state h3 {
  text-align: center;
}

.comp-analysis,
.user-research,
.key-findings,
.findings,
.usability {
  width: 100%;
}

.comp-analysis ul,
.comp-analysis li {
  padding-left: 0;
  margin-left: 0;
  margin-right: 2rem;
}

.comp-analysis img {
  width: 13%;
  align-self: center;
  /* margin-right: 4rem; */
  margin: 0 4rem 0 0;

}

.affinity-personas-desktop {
  display: none;
}

.affinity-personas-mobile img {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ca-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 6rem;
}

.ca-item p {
  font-size: 1.8rem;
  width: 65rem;
}

.key-findings {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 8rem;
  column-gap: 5rem;
  grid-template-rows: auto auto auto auto auto auto;
}

.key-findings img {
  width: 10vw;
}

.finding-icon1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.finding-icon2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.finding-icon3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.finding-icon4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.finding-icon5 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.finding-icon6 {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}


.finding-item1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.finding-item2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.finding-item3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.finding-item4 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.finding-item5 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.finding-item6 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}



.finding-item p {
  font-size: 1.8rem;
}

.finding-item h2 {
  margin-top: 0;
}

.prototype img {
  width: 40%;
}

.design_system img {
  width: 65%;
}




.test-obj {
  list-style: none;
  display: grid;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 3rem;
  column-gap: 5rem;
  grid-template-rows: auto auto auto;
  margin: 3rem auto;
}


.objectives-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 6rem;
}

.oicon1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.oicon2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.oicon3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}


.oi1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.oi2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.oi3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}



.objectives-item p {
  font-size: 1.8rem;

}

.objectives-item h2 {
  margin-top: 0;
}



.prototype {
  display: flex;
  align-items: center;

}

.prototype img {
  margin-right: 3.5rem;
  width: 40%;
}

.proto-flows-links a {
  font-size: 1.6rem;
  color: #151515;
  text-decoration: underline;
}

.proto-flows-links a:visited {
  /* visited link */
  color: #151515;
}

.proto-flows-links a:hover {
  color: #151515;
  text-decoration: none
}

.proto-flows-links a:active {
  /* selected link */
  color: #5d0000;
}





.proto-flows-links li {
  font-size: 2.5rem;
  margin-bottom: 5.5rem;
}

.design-system a {
  margin: 2rem auto;
  font-size: 1.6rem;
}

.learnings {
  width: 80vw;
  margin: auto auto;
}

.learn-title h2 {
  text-align: center;
  width: 70%;
  margin: 3rem auto;
}

/* ,, */


/* .return-to-top img {
  width: 20%;
  margin: auto auto;
}*/

.return-to-top {
  margin: 3rem auto;
  align-content: center;
  align-items: center;
  text-align: center;
}



.to-top {
  color: #343a40;
  padding-top: 7rem;
  display: inline-block;
  /* or block */
  position: relative;
  border-color: #343a40;
  text-decoration: none;
  transition: all .3s ease-out;
}



.to-top:before {
  content: '▲';
  font-size: 3.2rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2.8rem;
  border: solid .17em white;
  border-radius: 10em;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-color: inherit;
  transition: transform .5s ease-in;
}

.to-top:hover {
  color: #4dabf7;
  border-color: #4dabf7;
}

.to-top:hover:before {
  transform: rotate(360deg);
}


/*ABOUT PAGE*/
/*ABOUT HERO*/
.about-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 2rem auto;
}

/*ABOUT HERO TITLE*/
.about-hero h1 {
  font-size: 5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  text-align: center;
}


/*SEPERATION LINE STYLING*/
.divide-line {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

/*SEPERATION LINE LEFT*/
.left-line {
  width: 30vw;
  display: inline-block;
}

/*SEPERATION STAR*/
.north-star {
  width: 5vw;
}

/*SEPERATION LINE RIGHT*/
.right-line {
  width: 30vw;
  display: inline-block;
}



/*ABOUT SECTION*/
/*ABOUT SECTION*/

/*RESUME BUTTON*/
.resume {
  border: none;
  border-radius: 5rem;
  background: linear-gradient(177deg, white 0%, #66F792 29%, #00c03a 100%);
  padding: 1.6rem 2.4rem;
  color: #fff;
  margin: 1rem auto;
}

  a.resume:any-link {
  font-size: 1.6rem;
  font-weight: bold;
  color: #3d3d3d;
}

a.resume:visited,
a.resume:hover,
a.resume:active {
  text-decoration: none;
}

/*ABOUT SECTION*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
}


/*ABOUT TEXT*/
.about-me {
  font-size: 2rem;
}


.skills {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
}


.experience img {
  width: 100%;
}

.personal img {
  width: 35%;
}

/*PORTFOLIO CASE STUDY*/
/*PORTFOLIO CASE STUDY*/
/*PORTFOLIO CASE STUDY HERO*/

#port-case-header{
background: linear-gradient(216deg, #E1E2E8 0%, white 100%);
}

.port-case-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.port-case-hero-container{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.port-case-text{
  font-family: "Prompt", sans-serif;
  color: #161616;
  margin: 0 2rem 0 2rem;
  text-align: center;
}

.port-case-title{
  font-size: 3.2rem;
  text-shadow: -.2rem .3rem .4rem rgb(160, 160, 160);
  
}

.port-case-secondary-title{
  font-size: 1.8rem;
}

/* .port-case-mockup{} */

.port-case-mockup img{
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  
}

.read-more{
  margin: 4rem auto;
  font-family: "Prompt", sans-serif;
  text-align: center;
}

.read-more h3{
  font-size: 1.8rem;
  font-weight: 500;
}


.read-more img{
  width: 4rem;
}



/*PORTFOLIO CASE STUDY*/
/*OVERVIEW*/

.case-study{
  margin-top: 4rem;
}

.icons-style{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr auto;
width: 100%;
justify-content: space-between;
font-family: "Poppins", sans-serif;
}

.case-study-body{
  max-width: 85vw;
}


.icons-style h4,
.icons-style p{
  font-size: 1.6rem;
  text-align: center;
  margin: .4rem;
}


.icons-style{
  margin: 4rem auto;
}

.icons-style h4{
  font-weight: 600;
}

.icons-style img{
  width: 8rem;
  margin: .4rem;
}


.main-style img{
  width: 100%;
}

.main-style{
  margin: 8rem auto;
}

.main-style h3{
  margin: 4rem auto 1.2rem auto;
}

.main-style p {
  margin: 0 auto 4rem auto;
}



/* ICONS ITEMS STYLE */
.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem;
}


/* ICONS GRID LOCATION */
.project,
.role{
  grid-column: 1 / 2;
}

.tools,
.time{
  grid-column: 2 / 3;
}


.project,
.tools{
  grid-row: 1 / 2;
}

.role,
.time {
  grid-row: 2 / 3;
}


.test-guidelines img,
.test-goals img{
  width: 10rem;
}

.portfolio-learning h3,
.test-guidelines h3,
.test-goals h3{
  margin: .4rem;
  font-weight: 5600;
  font-size: 1.6rem;
  color: #4a4a4a;
}


.portfolio-learning h4,
.test-guidelines h4,
.test-goals h4{
  margin: .2rem;
  font-weight: 600;
}


.portfolio-learning p,
.test-guidelines p,
.test-goals p {
  margin: .2rem;
}

.learning-card,
.test-guidelines-card,
.test-goal-card{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 6rem auto;
}

.learning-text,
.test-guidelines-text,
.test-goals-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.first-card{
  margin-top: 4rem;
}

.last-card{
  margin-bottom: 6rem;
}


.large-photo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.large-photo-container img{
  width: 40rem;
}


.learning-card img{
  width: 12rem;
}






/* FOOTER */
/* FOOTER */
.contact {
  background-color: #1e0c20;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  align-content: space-evenly;
  align-items: center;
  border-bottom: 1rem solid #3e2f41;
  border-top: 1.2rem solid #403442;
  border-radius: .3rem;
  font-size: 1.6rem;
  color: #ffffff;
}

/* CONTACT ME BUTTON */
.contact-btn-container{
  margin: 2rem;
  display: flex;
}

.contact-btn{
  border: none;
  border-radius: 5rem;
  background: linear-gradient(177deg, white 0%, #66F792 29%, #00c03a 100%);
  padding: 1.6rem 2.4rem;
  color: #fff;
  width: 50vw;
  text-align: center;

}

a.contact-btn:any-link {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3d3d;
}

a.contact-btn:visited,
a.contact-btn:hover,
a.contact-btn:active {
  text-decoration: none;
}


.footer-logo {
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0;
  margin: auto auto;
}

.footer-logo img {
  width: 20vw;
}

.footer-header {
  font-size: 1.6rem;
  font-weight: 500;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.footer-text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-right: 2rem;
}

.contact p {
  font-size: 1.6rem;
}

.social {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 0;
  margin: auto auto;
  gap: 1rem;
}

.social img {
  width: 9vw;
}

.copyright{
  grid-column: 2 / 3;
}















@media (min-width: 450px) {

  .hero-text h1{
    font-size: 4.2rem;
  }

  .icon-mobile-nav {
    width: 3.6rem;
    height: 3.6rem;
    stroke: #212529;

  }

  .work {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: 4rem auto 2rem auto;
    gap: 3vh;

  }


  .wl-item1 {
    margin-bottom: 5vh;
  }

  .wl-item2 {
    margin-bottom: 5vh;
  }



  .port-case-text{
    margin: 0 3rem;
    }



  /*ABOUT PAGE*/
  .about-me {
    font-size: 2rem;

  }


  .about-hero h1 {
    font-size: 6.5rem;
  }


  .footer-logo img {
    width: 10vw;
  }

  .social img {
    width: 8vw;
  }

}

@media only screen and (min-width: 520px) {

  .logo {
    width: 12vw;
    margin: 0;
    padding: .5rem 0 0 0;
  }

  .wl-item1 {
    grid-row: 3 / 4;
  }

  .wl-item2 {
    grid-row: 2 / 3;
  }

  .wl-item3{
    grid-row: 4 / 5;
  }

  .wl-item1,
  .wl-item2,
  .wl-item3 {
    margin-bottom: 5vh;
  }

  .wli-text {
    padding-left: 2rem;
  }


  /*TAGS*/
  .wl-item1 h6,
  .wl-item2 h6,
  .wl-item3 h6 {
    font-size: 1.2rem;
    font-weight: 400;

  }

  /*MAIN TITLE*/
  .wl-item1 h3,
  .wl-item2 h3,
  .wl-item3 h3 {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 0 0;
  }

  /*SECONDARY TITLE*/
  .wl-item1 p,
  .wl-item2 p,
  .wl-item3 p {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;

  }

  .btn,
  .btn-ac,
  .btn-por-case {
    font-size: 1.6rem;
    padding: .8rem 1.2rem;
  }

  .btn:hover,
  .btn-ac:hover,
  .btn-por-case:hover {
    font-size: 1.6rem;
    padding: .8rem 1.2rem;
  }


  .about ul {
    margin: auto auto;
    font-size: 2.4rem;
    line-height: 2;
    font-weight: 400;
    color: #000;
  }

  .resume {
    padding: 1.6rem 2.4rem;
    border-radius: 8rem;
    margin: 4rem auto;
  }


  .pp-text{
    padding-left: 3rem;
  }

  h1.pp-title{
    font-size: 3.2rem;
  }
  
  
  p.pp-secondary-title{
    font-size: 2rem;
  }



.port-case-text{
  margin: 0 4rem;
}
  .port-case-title{
    font-size: 3.8rem;
  }
  .port-case-secondary-title{
    font-size: 2rem;
  }





}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  

  .logo {
    width: 10vw;
  }


  .hero {
    margin-top: 5vh;
    padding-top: 12%;
    padding-bottom: 4%;

  }

  .hero-section {
    max-width: 80vw;
  }

  .hero-text {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: 45%;
    max-width: 80%;
    padding-left: 3%;
    
    padding-top: 2%;
    padding-right: 3%;
    
  }

  .hero-text h1{
    font-size: 4.6rem;
  }
  .hero-section img {
    max-width: 60vw;
  }

  .wl-item1 {
    grid-row: 3 / 4;
  }

  .wl-item2 {
    grid-row: 2 / 3;
  }

  .wl-item2 {
    grid-row: 4 / 5;
  }

  .wl-item1,
  .wl-item2,
  .wl-item3 {
    margin-bottom: 5vh;
  }


  /* .wl-item1 img,
  .wl-item2 img {
    min-width: 30vw;
    max-width: 40vw;
  } */

  /* 
  .wli-text {
    padding-left: 2rem;
  }


  /*TAGS*/
  .wl-item1 h6,
  .wl-item2 h6,
  .wl-item3 h6 {
    font-size: 1.2rem;
    font-weight: 400;

  }

  /*MAIN TITLE*/
  .wl-item1 h3,
  .wl-item2 h3,
  .wl-item3 h3 {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 0 0;
  }

  /*SECONDARY TITLE*/
  .wl-item1 p,
  .wl-item2 p,
  .wl-item3 p {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;

  }

  .btn,
  .btn-ac,
  .btn-por-case {
    font-size: 1.6rem;
  }

  .btn:hover,
  .btn-ac:hover,
  .btn-por-case:hover {
    font-size: 1.6rem;
  }



  .introduction{
    max-width: 80vw;
  }


  .port-case-title{
    font-size: 4.8rem;
  }
  .port-case-secondary-title{
    font-size: 2rem;
  }





  .about-hero h1 {
    font-size: 8rem;
  }

  .about h3 {
    font-size: 3.2rem;
    line-height: 2;
    font-weight: 500;
    color: #000;
  }

  .about p {
    width: 60vw;
    font-size: 2.4rem;
    line-height: 2;
    font-weight: 400;
    color: #000;

  }


  .footer-logo img {
    width: 10vw;
  }

  .social img {
    width: 7vw;
  }









}

@media only screen and (min-width: 680px) {

  .wl-item1,
  .wl-item2,
  .wl-item3 {
    flex-direction: row;
  }

  .wl-item1 img,
  .wl-item2 img,
  .wl-item3 img {
    max-width: 40vw;
    border-radius: 2rem 0 0 2rem;
  }


  .pp-text{
    padding-left: 4rem;
  }

  h1.pp-title{
    font-size: 3.8rem;
  }
  
  
  p.pp-secondary-title{
    font-size: 2.4rem;
  }


  .social img {
    width: 6vw;
  }


}


@media only screen and (min-width: 730px) {
  .hero-section {
    max-width: 82vw;
  }

  .hero-section img {
    max-width: 40vw;
  }


  .key-findings img {
    width: 7vw;
  }




  .footer-logo img {
    width: 7vw;
  }

  .social img {
    width: 5vw;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 870px) {
  .logo {
    width: 8vw;
  }

  /*DESKTOP NAVIGATION*/
  .upper-bar {
    position: static;
  }

  .desktop-nav {
    background: none;
    display: contents;
    position: static;
    height: fit-content;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;

  }

  .upper-bar .desktop-nav .header-nav-list {
    position: static;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(0%, 0%);
    gap: 4.8rem;
  }


  .header-nav-item,
  .header-nav-item a,
  .header-nav-item a:visited {
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;

  }

  

  .header-nav-item a:hover {
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: underline;
    color: #000;
  }

  #pinnacle_case .header-nav-item a,
  #pinnacle_case .header-nav-item a:visited,
  #pinnacle_case .header-nav-item a:hover,
  #pinnacle_case .header-nav-item a:active{
    color: #ffffff;
  }

  /*MOBILE NAVIGATION*/
  .btn-mobile-nav {
    display: none;
  }

  /* HERO SECTION */
  /* HERO SECTION */
  .hero-section {
    max-width: 95vw;
    grid-template-columns: 1fr 5fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 6rem;
  }


  .hero-main{
    flex-direction: row;
    max-width: 80vw;
    margin: 0 auto;
    grid-column: 2 / 3;
  }


  img.hero_pic_mobile{
    display: none;
  }

  img.hero_pic_desktop{
    display:inline;
    max-width: 40rem;
    z-index: -1;
  }
  
  .hero-text{
    align-self: flex-end;
    padding-left: 5%;
  }

  .hero-text h1{
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline;
    text-align: left;
    font-size: 6.5rem;
    padding-left: 2rem;
  }
  
  .hero-text h2{
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  .hero-text-right{
    grid-column: 3 / 4;
    font-family: "Poppins", sans-serif;
    margin-left: 1.5rem;
    width: 80%;
  }
  
  .hero-text-right h6{
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: .5rem;
  }

  .hero-text-right p{
    font-weight: 400;
    font-size: 2.2rem;
    margin: 0;
  }

  .scroll{
    grid-column: 1 / 5;
    margin: 0 auto;
  }


  .work {
    max-width: 80vw;

  }

  .wl-item1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .wl-item2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .wl-item3{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .wl-item1 img,
  .wl-item2 img,
  .wl-item3 img {
    max-width: 40vw;
    border-radius: 2rem 0 0 2rem;
  }

  .wl-item1,
  .wl-item2,
  .wl-item3 {
    margin-bottom: 5vh;
  }


  .wli-text {
    padding-left: 2rem;
  }


  /* PINNACLE PAY CASE STUDY */
  /* PINNACLE PAY CASE STUDY */

  .mockup img {
    width: 80%;
  }

  h1.pp-title{
    font-size: 4.2rem;
  }
  
  
  p.pp-secondary-title{
    font-size: 2.8rem;
  }



  .intro h1,
  .design h1,
  .learnings h1 {
    font-family: "poppins", sans-serif;
    font-size: 3.2rem;
  }

  .intro h2,
  .design h2,
  .learnings h2,
  .pp-hero h2 {
    font-size: 2.4rem;
  }

  .intro p,
  .design p,
  .intro li,
  .design li {
    font-size: 2.4rem;
    width: 100%;

  }

  .ca-item {
    flex-wrap: nowrap;
  }

  .comp-analysis img {
    width: 10%;
  }

  .ca-item p {
    font-size: 2rem;
  }


  .finding-item {
    flex-wrap: nowrap;
  }

  .finding-item img {

    align-self: flex-start;
    margin-right: 8rem;

  }

  .finding-item p {
    font-size: 2rem;
  }



  .objectives-item {
    flex-wrap: nowrap;
  }

  .objectives-item img {
    width: 10%;
  }

  .objectives-item p {
    font-size: 2rem;

  }

  .objectives-item li {
    font-size: 2rem;
  }

  /* .btn:hover{
      padding: 1.2rem 1rem;
  }
  .btn-ac:hover{
      padding: 1.2rem 1rem;
  } */






  /* PORTFOLIO CASE STUDY */
  /* PORTFOLIO HERO */
  .port-case-hero-container{
    margin-top: 12rem;
  }
  .port-case-text{
    margin: 0 3rem 0 6.2rem;
  }
  .port-case-title{
    font-size: 6rem;
    text-shadow: -.2rem .3rem .4rem rgb(160, 160, 160);
  }
  
  .port-case-secondary-title{
    font-size: 2.2rem;
  }
  .port-case-mockup img{
    width: 80rem;
    padding-right: 4rem;
  }
  .read-more{
    margin: 8rem auto 4rem auto;
  }

  .read-more h3{
    font-size: 1.8rem;
    font-weight: 500;
  }


  .read-more img{
    width: 5.5rem;
  }





/* PORTFOLIO CASE STUDY */
  /* OVERVIEW */
  .case-study{
    margin-top: 4rem;
  }


  /* TURNS INTO A ROW DISPLAY */
  .overview-icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    margin: 4rem auto;
  }

  .overview-icons img{
    width: 5rem;
  }


  .overview-icons h4,
  .overview-icons p{
    font-size: 1.6rem;
    text-align: center;
    margin: .4rem;
  }


  /* FROM 2 COLOUMS INTO 3 COLOUMS */
  .design-process img{
    width: 7rem;
  }
  
  .design-process{
    grid-template-columns: 1fr 1fr 1fr;
  }









  .about-hero h1 {
    font-size: 10rem;
  }


  .contact-btn{
    width: 30vw;
    }
}


@media only screen and (min-width: 1024px) {


  .logo {
    width: 6vw;
  }

  .header-nav-item,
  .header-nav-item a,
  .header-nav-item a:visited,
  .header-nav-item a:hover,
  .header-nav-item a:active {
    font-size: 1.8rem;

  }


  /* HERO SECTION */
  .hero-section {
    max-width: 95vw;
    margin-top: 6rem;
  }


  .hero-main{
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    grid-column: 2 / 3;
  }


  /* HERO IMAGES */
  /* HERO IMAGES */
  img.hero_pic_mobile{
    display: none;
  }

  img.hero_pic_desktop{
    display:inline;
    max-width: 40rem;
    z-index: -1;
  }


  /* HERO TEXT */
  /* HERO TEXT */
  
  .hero-text{
    align-self: flex-end;
    padding-left: 5%;
  }

  .hero-text h1{
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline;
    text-align: left;
    font-size: 6.5rem;
    padding-left: 2rem;
  }
  
  .hero-text h2{
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  .hero-text-right{
    grid-column: 3 / 4;
    font-family: "Poppins", sans-serif;
    margin-left: 1.5rem;
    width: 80%;
  }
  
  .hero-text-right h6{
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: .5rem;
  }

  .hero-text-right p{
    font-weight: 400;
    font-size: 2.2rem;
    margin: 0;
  }

  .scroll{
    grid-column: 1 / 5;
  }

  




/* WORK SECTION */
/* WORK SECTION */

  .work {
    max-width: 75vw;
  }

  .wl-item1 {
    grid-row: 3 / 4;
  }

  .wl-item2 {
    grid-row: 2 / 3;
  }


  .wli-text {
    padding-left: 2.6rem;
  }


  /*TAGS*/
  .wl-item1 h6,
  .wl-item2 h6 {
    font-size: 1.4rem;
    font-weight: 400;

  }

  /*MAIN TITLE*/
  .wl-item1 h3,
  .wl-item2 h3 {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 0 0;
  }

  /*SECONDARY TITLE*/
  .wl-item1 p,
  .wl-item2 p {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;

  }

  .btn-ac {
    font-size: 1.6rem;
    padding: 1.2rem 1rem;

  }

  .btn {
    font-size: 1.6rem;
    padding: 1.2rem 1rem;
  }

  .btn:hover {
    font-size: 1.6rem;
    padding: 1.2rem 1rem;
  }

  .btn-ac:hover {
    font-size: 1.6rem;
    padding: 1.2rem 1rem;
  }





  /* PINNACLE PAY CASE STUDY */
  /* PINNACLE PAY CASE STUDY */
  
.pp-text{
  justify-content: center;
  margin-left: 4rem;
  
}

  h1.pp-title{
    font-size: 4.6rem;
    text-shadow: .1rem .2rem .3rem rgb(0, 0, 0);
  }
  
  
  p.pp-secondary-title{
    font-size: 3rem;
  }

  .intro,
  .design,
  .learnings,
  .design-evo {
    width: 70vw;
  }



  /* PORTFOLIO CASE STUDY */
   /* PORTFOLIO CASE STUDY */


   .port-case-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   .port-case-hero-container{
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
  }


  .port-case-text{
    margin: 0 2rem 0 6.2rem;
    text-align: left;
  }
  .port-case-title{
    font-size: 4.2rem;
    text-shadow: -.2rem .3rem .4rem rgb(160, 160, 160);
  }
  
  .port-case-secondary-title{
    font-size: 1.8rem;
  }
  .port-case-mockup img{
    width: 65rem;
    padding-right: 4rem;
  }

  .read-more{
    margin: 6rem auto 4rem auto;
  }
  .read-more h3{
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .read-more img{
    width: 5rem;
  }




  /* PORTFOLIO CASE STUDY */
  /* OVERVIEW */
  .case-study{
    margin-top: 4rem;
  }

  .case-study-body{
    max-width: 70vw;
  }

  .overview-icons h4,
  .overview-icons p{
    margin: .5rem;
  }

  .overview-icons{
    margin: 4rem auto;
  }

  .design-process img{
    width: 8rem;
  }
  .overview-icons img{
    width: 5rem;
  }


  .main-example-style{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-style h4{
    margin: .5rem;
  }

  .main-style{
    margin: 10rem auto;
  }


  .main-example-style img{
    width: 95%;
    align-self: center;
    margin: 4rem auto;
  }

  .learning-card,
  .test-guidelines-card,
  .test-goal-card{
  flex-direction: row;
  align-items: center;
  gap: 6rem;
  margin: 12rem 6rem;
  }

  .last-card{
    margin-bottom: 6rem;
  }


  .large-photo-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;
    justify-items: center;
  }

  .large-photo-container img{
    width: 40rem;
  }





  /* ABOUT ME PAGE */
  /* ABOUT HERO */
  .about-hero h1 {
    font-size: 12rem;
  }


   /* FOOTER */
  /* FOOTER */

  .footer-header {
    font-size: 3.2rem;
    font-family: "Libre Baskerville", serif;
  }

  .contact p {
    font-size: 1.8rem;
  }


  .footer-logo img {
    width: 7vw;
  }

  .social img {
    width: 4vw;
  }

  .copyright{
  font-size: 1.6rem;
  }

}

@media only screen and (min-width: 1180px) {
  
  /* HERO SECTION */
  .hero-section {
    display: grid;
    max-width: 95vw;
    grid-template-columns: 1fr 5fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 6rem;
  }


  .hero-main{
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    grid-column: 2 / 3;
  }


  img.hero_pic_mobile{
    display: none;
  }

  img.hero_pic_desktop{
    display:inline;
    max-width: 40rem;
    z-index: -1;
  }
  

/* HERO HEADING */
/* HERO HEADING */

  .hero-text{
    align-self: flex-end;
    padding-left: 5%;
  }

  .hero-text h1{
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline;
    text-align: left;
    font-size: 6.5rem;
    padding-left: 2rem;
  }
  
  .hero-text h2{
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  
  /* HERO TEXT BLOCKS */
  .design-quote{
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  h2.design-quote{
    font-weight: 400;
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: 0;
  }

  .hero-text-right{
    grid-column: 2 / 3;
    font-family: "Poppins", sans-serif;
    margin-left: 1.5rem;
    width: 100%;
    padding-left: 5%;
  }
  
  .hero-text-right h6{
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: .5rem;
  }

  .hero-text-right p{
    font-weight: 400;
    font-size: 2.2rem;
    margin: 0;
  }

  .scroll{
    grid-column: 1 / 5;
  }



  /* PORTFOLIO CASE STUDY */
   /* PORTFOLIO CASE STUDY */
  .port-case-hero-container{
    margin-top: 12rem;
  }
  .port-case-text{
    margin: 0 2rem 0 6.2rem;
  }
  .port-case-title{
    font-size: 4.8rem;
    text-shadow: -.2rem .3rem .4rem rgb(160, 160, 160);
  }
  
  .port-case-secondary-title{
    font-size: 2rem;
  }
  .port-case-mockup img{
    width: 70rem;
    padding-right: 4rem;
  }

  .read-more{
    margin: 6rem auto 4rem auto;
  }
  .read-more h3{
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .read-more img{
    width: 5rem;
  }


  
  
  
  
  .footer-logo img {
    width: 6vw;
  }

  .social img {
    width: 4vw;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1250px){
  .pp-hero img {
    width: 35vw;
  }
  h2.design-quote{
    max-width: 70%;
  }
  
}

@media only screen and (min-width: 1340px) {
  .header {
    height: auto;
  }

  .upper-bar {
    margin: 1.5rem 4rem;
    margin-bottom: 0;
  }

  .logo {
    width: 4vw;
  }


  /* HERO SECTION */
  .hero-section {
    max-width: 95vw;
    margin-top: 6rem;
  }

  .hero-main{
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
    grid-column: 2 / 3;
  }


  img.hero_pic_mobile{
    display: none;
  }

  img.hero_pic_desktop{
    display:inline;
    max-width: 40rem;
    z-index: -1;
  }
  
  .hero-text{
    align-self: flex-end;
    padding-left: 5%;
  }

  .hero-text h1{
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline;
    text-align: left;
    font-size: 6.5rem;
    padding-left: 2rem;
  }
  
  .hero-text h2{
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  .hero-text-right{
    font-family: "Poppins", sans-serif;
    margin-left: 5%;
  }
  
  .hero-text-right h6{
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: .5rem;
  }

  h2.design-quote{
    max-width: 80%;
    font-size: 2.4rem;
    font-weight: 300;
  }


  .scroll{
    grid-column: 1 / 5;
    margin: 0 auto;
  }

  .scroll img {
    width: 17rem;
  }


  /* WORK SECTION */
  /* WORK SECTION */
  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    max-width: 92%;
    row-gap: 8rem;
    margin: auto auto;
    align-items: center;
    justify-items: center;
    column-gap: 6rem;
    margin-bottom: 8rem;

  }

  /*WORK TITLE*/
  .work-tite-box {
    width: 60%;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }



  .work-title h2 {
    grid-row: 1 / 2;

  }




  /*WORK CARD*/
  .wl-item1 img,
  .wl-item2 img,
  .wl-item3 img {
    max-width: 30rem;
  }

  .wl-item1,
  .wl-item2,
  .wl-item3 {
    margin-bottom: 0;
    height: 100%;
  }

  .wl-item1 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .wl-item2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .wl-item3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .wli-text {
    padding-left: 2rem;
  }


  /*TAGS*/
  .wl-item1 h6,
  .wl-item2 h6,
  .wl-item3 h6 {
    font-size: 1.4rem;
    font-weight: 400;

  }

  /*MAIN TITLE*/
  .wl-item1 h3,
  .wl-item2 h3,
  .wl-item3 h3 {
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 0 0;
  }

  /*SECONDARY TITLE*/
  .wl-item1 p,
  .wl-item2 p,
  .wl-item3 p  {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;

  }

  .btn,
  .btn-ac,
  .btn-por-case {
    font-size: 1.8rem;
    padding: .8rem 1.2rem;
  }

  .btn:hover,
  .btn-ac:hover,
  .btn-por-case:hover {
    font-size: 1.8rem;
    padding: .8rem 1.2rem;
  }



  /* PINNACLE PAY CASE STUDY */
  /* PINNACLE PAY CASE STUDY */
  .comp-analysis img {
    width: 7%;
  }


  .pp-text{
    justify-content: center;
    margin-left: 4rem;
  }
  
    h1.pp-title{
      font-size: 5rem;
    }
    
    
    p.pp-secondary-title{
      font-size: 3.2rem;
    }


  .pp-hero img {
    width: 35vw;
  }

  .intro img,
  .design img,
  .learnings img {
    max-width: 80%;
    text-align: center;
  }

  .problem-state,
  .design-proc,
  .affinity-personas,
  .personas,
  .journey-map,
  .user-flow,
  .card-sort,
  .info-arch,
  .lofi-proto,
  .work-proto,
  .test-affinity,
  .design-evo,
  .design-system {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .problem-state img,
  .design-proc img,
  .affinity-personas img,
  .personas img,
  .journey-map img,
  .user-flow img,
  .card-sort img,
  .info-arch img,
  .lofi-proto img,
  .work-proto img,
  .test-affinity img,
  .design-evo img,
  .design-system img {
    align-self: center;
  }


  .affinity-personas-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 6rem auto;
  }

  .affinity-personas-mobile {
    display: none;

  }

  .user-flow img {
    width: 100%;
  }

  .card-sort img {
    width: 75%;
    margin: 4rem auto;
  }

  .test-obj {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
  }




  .oi1,
  .oicon1 {
    grid-row: 1 / 2;
  }

  .oi2,
  .oicon2 {
    grid-row: 2 / 3;
  }

  .oi3,
  .oicon3 {
    grid-row: 3 / 4;
  }

  .oi1,
  .oi2,
  .oi3 {
    grid-column: 2 / 3;
  }

  .oicon1,
  .oicon2,
  .oicon3 {
    grid-column: 1 / 2;
  }


  .objectives-item {
    display: block;
  }

  .objectives-icon img {
    width: 6vw;
  }


  .design-system a {
    font-size: 2.4rem;
  }

  .learn-title {
    margin: 10rem auto;
  }

  .learnings-container {
    margin: 3rem auto;
    width: 60vw;
  }

  .learnings p {
    width: 60vw;
    font-size: 2.8rem;
    line-height: 2;
  }





  /* PORTFOLIO CASE STUDY */
  /* PORTFOLIO HERO */
  .port-case-hero-container{
    margin-top: 12rem;
  }
  .port-case-text{
    margin: 0 3rem 0 6.2rem;
  }
  .port-case-title{
    font-size: 6rem;
    text-shadow: -.2rem .3rem .4rem rgb(160, 160, 160);
  }
  
  .port-case-secondary-title{
    font-size: 2.2rem;
  }
  .port-case-mockup img{
    width: 80rem;
    padding-right: 4rem;
  }
  .read-more{
    margin: 8rem auto 4rem auto;
  }

  .read-more h3{
    font-size: 1.8rem;
    font-weight: 500;
  }


  .read-more img{
    width: 5.5rem;
  }


  /* PORTFOLIO CASE STUDY */
  /* OVERVIEW */
  .case-study{
    margin-top: 4rem;
  }

  .case-study-body{
    max-width: 60vw;
  }

  .overview-icons{
  width: 100%;
  }

  .overview-icons h4,
  .overview-icons p{
    margin: .5rem;
  }

  .overview-icons{
    margin: 6rem auto;
  }

  .design-process img{
    width: 9rem;
  }
  .overview-icons img{
    width: 6rem;
    margin-top: 1rem;
  }

  .main-example-style img{
    width: 80%;
  }

  .first-card{
    margin-top: 4rem;
  }





/* ABOUT PAGE */
/* ABOUT HERO */
  .about-hero h1 {
    font-size: 16rem;
    margin: 5rem auto;
    color: #2D1E2F;
  }

  .divide-line {
    margin: 2rem auto;
  }

  .north-star {
    width: 3vw;
  }

  .skills-container {
    padding-left: 20rem;
  }

  .about ul {
    padding-left: 6rem;
    margin: auto auto;
    font-size: 2.4rem;
    line-height: 2;
    font-weight: 400;
    color: #000;
    -moz-column-count: 2;
    -moz-column-gap: 2rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 2rem;
    column-count: 2;
    column-gap: 2rem;
  }

  .about h3 {
    font-size: 2.8rem;
    line-height: 2;
    font-weight: 500;
    color: #000;
  }

  .about p {
    width: 60vw;
    font-size: 2rem;
    line-height: 2;
    font-weight: 400;
    color: #000;

  }

  .resume {
    padding: 2rem 6rem;
    border-radius: 8rem;
    margin: 8rem auto;
    
  }


  a.resume:any-link {
    font-size: 2.4rem;
    color: #242424;
  }


  /* FOOTER */
  /* FOOTER */
  .footer-header {
    font-size: 3.2rem;
    font-family: "Libre Baskerville", serif;
  }

  /* .contact p {
    font-size: 2.4rem;
  } */

  .contact-btn{
    width: 20vw;
    }

  a.contact-btn:any-link {
    font-size: 2.4rem;
  }

  .footer-logo img {
    width: 5vw;
  }

  .social img {
    width: 4vw;
  }
}



@media only screen and (min-width: 1480px) {
  
  h2.design-quote{
    max-width: 70%;
    font-size: 2.6rem;
    font-weight: 300;
  }

  img.hero_pic_desktop{
    max-width: 50rem;
    }
    .hero-text h1{
    font-size: 6.5rem;
    }
    /* .hero-text h2{
    } */
  
  
  .work {
    max-width: 88%;
    column-gap: 8rem;
  }

  .pp-hero img {
    width: 30vw;
  }
}




@media only screen and (min-width: 1550px) {
  .header {
    height: auto;
  }

  img.hero_pic_desktop{
    max-width: 40rem;
    }

  h2.design-quote{
    max-width: 65%;
  }

  .hero-text h1{
  font-size: 7.2rem;
  }
  .hero-text h2{
    font-size: 3.4rem;
  }

  /* .hero-text-right{
    margin-top: 1.4rem;
  } */

  .hero-text-right h6{
  font-size: 1.8rem;
  }

  .hero-text-right p{
    font-size: 2.4;
    font-weight: 500;
    letter-spacing: 1;
  }

    
 

  

  .work {
    max-width: 88%;
    column-gap: 8rem;
  }

  .pp-text{
    margin-left: 8rem;
  }

  h1.pp-title{
    font-size: 6rem;
  }
  
  
  p.pp-secondary-title{
    font-size: 3rem;
  }


  /* PORTFOLIO CASE STUDY */
  /* PORTFOLIO HERO */
  .port-case-hero-container{
    margin-top: 12rem;
  }
  .port-case-text{
    margin: 0 2rem 0 6.2rem;
  }
  .port-case-title{
    font-size: 6rem;
    text-shadow: -.2rem .3rem .4rem rgb(160, 160, 160);
  }
  
  .port-case-secondary-title{
    font-size: 2.4rem;
  }
  .port-case-mockup img{
    width: 95rem;
  }

  .read-more{
    margin: 6rem auto 4rem auto;
  }
  .read-more h3{
    font-size: 2rem;
    font-weight: 500;
  }
  
  .read-more img{
    width: 6.5rem;
  }

 


  /* PORTFOLIO CASE STUDY */
  /* OVERVIEW */
  .case-study{
    margin-top: 4rem;
  }


  .design-process img{
    width: 10rem;
  }
  .overview-icons img{
    width: 8rem;
  }

  .main-example-style img{
    width: 85%;
  }




  .footer-logo img {
    width: 5vw;
  }

  .social img {
    width: 4rem;
  }
}








/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  


.mockup img {
  width: 25vw;
}

}
@media only screen and (min-width: 2320px) {
  .header {
    height: auto;
  }
}